<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>

    <table class="table"
           style="width: 450px; height: 300px; margin-top: 270px; margin-left: 600px">
        <thead class="thead-dark">
      <tr>
        <th scope="col"><b>ID</b></th>
        <th scope="col"><b>NAME</b></th>
        <th scope="col"><b>AGE</b></th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td th:text="${find_cinema.id}"></td>
        <td th:text="${find_cinema.name}"></td>
        <td th:text="${find_cinema.address}"></td>
      </tr>
      </tbody>

  </table>