<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<style>
    body {
        background: #011010;
    }
    .btn-group{
        margin-top: 100px;
        margin-left: 660px;
    }
</style >
<body>

<div class="btn-group" >
    <a href="/cinema/find_all">
        <button type="button" class="btn btn-outline-secondary">All Cinema</button>
    </a>
    <a href="/movie/find_all">
        <button type="button" class="btn btn-outline-secondary">All Movie</button>
    </a>
    </a>
    <a href="/session/find_all">
        <button type="button" class="btn btn-outline-secondary">All Session</button>
        <!--        <button style="color: #F5F5F5"type="button" class="btn btn-default" th:href="@{/session/find_all}"><strong>AllSessions</strong>-->
        </button>
    </a>
    <a href="/room/find_all">
        <button type="button" class="btn btn-outline-secondary">All Room</button>

        <!--        <button style="color: #F5F5F5"type="button" class="btn btn-default"><strong>AllRooms</strong></button>-->
    </a>
</div>

<table class="table"
       style="width: 500px; height: 300px; margin-top: 200px; margin-left: 500px">
    <thead class="thead-dark">
    <tr>
        <th scope="col"><b>ID</b></th>
        <th scope="col"><b>NAME</b></th>
        <th scope="col"><b>GENRES</b></th>
        <th scope="col"><b>DATE</b></th>
        <th scope="col"><b>COUNTY</b></th>
        <th scope="col"><b>LANGUAGE</b></th>
        <th scope="col"><b>ROOMS</b></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${find_movie.id}"></td>
        <td th:text="${find_movie.name}"></td>
        <td th:text="${find_movie.genres}"></td>
        <td th:text="${find_movie.creteDate}"></td>
        <td th:text="${find_movie.country}"></td>
        <td th:text="${find_movie.language}"></td>
    </tr>

    </tbody>
</table>