<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<meta charset="UTF-8">
<title>Movie</title>
<style>
    body {
        background: #011010;
    }
</style>
<body>

<!--<div class="btn-group" style="margin-left: 850px">-->
<!--    <a th:href="@{/cinema/find_all}">-->
<!--        <button type="button" class="btn btn-default"><strong>AllCinemas</strong></button>-->
<!--    </a>-->
<!--    <a th:href="@{/movie/find_all}">-->
<!--        <button type="button" class="btn btn-default"><strong>AllMovies</strong></button>-->
<!--    </a>-->
<!--    <a th:href="@{/session/find_all}">-->
<!--        <button type="button" class="btn btn-default" th:href="@{/session/find_all}"><strong>AllSessions</strong>-->
<!--        </button>-->
<!--    </a>-->
<!--    <a th:href="@{/room/find_all}">-->
<!--        <button type="button" class="btn btn-default"><strong>AllRooms</strong></button>-->
<!--    </a>-->

<!--</div>-->

<div>
    <form
            th:object="${movie}"
            th:method="post"
            th:action="@{/movie/save_movie}"
            style="width: 330px; height: 300px; margin-top: 270px; margin-left: 690px">

        <div class="form-group">
            <label style="color: #F5F5F5" for="exampleInputEmail1">name</label>
            <input th:field="${movie.name}" type="text" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp"
                   placeholder="movie name">
        </div>
        <div>
            <select th:field="${movie.genres}">
                <option th:each="genre:${genres}"
                        th:value="${genre}"
                        th:text="${genre.name}">
                </option>
            </select>
        </div>
        <div class="form-group">
            <label style="color: #F5F5F5" for="exampleInputPassword1">country</label>
            <input th:field="${movie.country}" type="text" class="form-control" id="exampleInputPassword3"
                   placeholder="country">
        </div>
        <div class="form-group">
            <label style="color: #F5F5F5" for="exampleInputPassword1">language</label>
            <input th:field="${movie.language}" type="text" class="form-control" id="exampleInputPassword1"
                   placeholder="language">
        </div>
        <button type="submit" class="btn btn-outline-warning">Submit</button>
    </form>
</div>
